@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,600;1,200;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
:root{
    --azul-escuro: #363973;
    --cor-fundo: #F2F2F2;
    --azul-claro: #4B9EBF;
    --azul-oceano: #006CB5;
}
body{
    background-color: var(--cor-fundo);
    font-family: "KoHo", "sans-serif";
    padding-top: 2.5em;
}
/* Header */
header{
    position: fixed;
    top: 0;
    width: 100%;
}
header .container{
    display: flex;
    background-color: var(--azul-claro);
    justify-content: center;
    padding: 1em;
    font-weight: 700;
    width: 100%;
}

/* Titles 1 */
main{
    text-align: center;
}
section#titles{
    margin-top: 2em;
    margin-bottom: 3em;
}
h1{
    font-size: 3em;
    font-weight: 600;
}
h2{
    font-size: 1.5em;
    font-weight: 400;
}

/* Box of text */
#boxOfText{
    padding: 0 10px;
    height: 20em;
    width: 50em;
    display: flex;   
    margin: 0 auto;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 1em;
}
textarea{
    resize: vertical;
    border: 1px solid #bbb;
    padding: 0.3em;
    max-height: 290px;
}
textarea:hover, textarea:focus{
    border: 1px solid var(--azul-escuro);
}
label{
    display: block;
    font-weight: 300;
    margin-bottom: 0.1em;
}
#result, #original{
    margin-left: 4em;
    margin-right: 4em;
}

/* conversores */
section.conversores{
    margin: 0 auto;
    display: flex;
}
div.conversores{
    margin: 2.5em auto 7em auto;
    width: 50em;
    display: inline-block;
}
input:hover{
    background-color: var(--azul-escuro);
}
input{
    margin-left: 1.5em;
    background-color: var(--azul-oceano);
    color: white;
    padding: .2em;
    border: none;
    width: 10em;
    height: 3.2em;
    border-radius: 0.6em;
}
input#qntcaractere{
    width: 12.2em;
}
input#preimeiraMaiuscula{
    width: 11.8em;
}
input#inverterTexto{
    margin-top: 1em;
}

/* footer */
footer{
    text-align: center;
    background-color: var(--azul-claro);
    padding: 1rem 0 1rem 0;
    font-weight: 700;
    width: 100vw;
}

/* responsive */
/* max-width --> até 780px (0px - 780px) */
@media (max-width: 830px){
    #boxOfText{
        width: 45em;
    }
}
@media (max-width: 780px){
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1em;
    }
}
@media (max-width: 730px){
    #boxOfText{
        width: 43em;
    }
    #result, #original{
        margin-left: 3em;
        margin-right: 3em;
    }
}
@media (max-width: 700px){
    #boxOfText{
        width: 40em;
    }
    #result, #original{
        margin-left: 2em;
        margin-right: 2em;
    }
}
@media (max-width: 660px){
    #boxOfText{
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.932);
        width: 29em;
        height: 26em;
    }
    #result{
        margin-bottom: .8em;
    }
}
@media (max-width: 505px){
    #boxOfText{
        width: 23em;
    }
}
@media (max-width: 492px){
    input{
        margin-bottom: 1em;
    
    }
}
@media (max-width: 390px){
    #boxOfText{
        width: 20em;
    }
}
@media (max-width: 320px){
    #boxOfText{
        width: 18em;
    }
    #result, #original{
        margin: 0 auto;
    }
    section.conversores{
        margin-left: 0;
        margin-right: .5em;
    }
}